.all-fans{
    display: none;
    position: relative;
    margin: 0 auto;
    width: 740px;
    height: 1000px;
    /* background-color: pink; */
}
/* 关注的人-顶部 */
.fans-top{
    position: relative;
    height: 50px;
    width: 740px;
    margin-bottom: 15px;
    /* background-color: skyblue; */
}
/* 返回键 */
.backbtn-fans{
    position: absolute;
    left: 35px;
    top: 20px;
    font-family: 'icomoon';
    font-size: 28px;
    color: #4e4e4e;
}
.fans-tit{
    position: absolute;
    top: 15px;
    left: 345px;
    color: #626262;
    font-size: 28px;
}
.fans-main{
    text-align: center;
    color: #626262;
}